.brand {
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
}
.links {
  font-family: 'serif';
  color: rgb(108, 112, 90);
}
.mini {
  color: rgb(155, 155, 125);
  font-size: 15px;
}
.header {
  color: rgb(100, 104, 100);
  font-family: 'serif';
}
p {
  color: rgb(100, 104, 100);
  font-family: 'serif';
}
#newsletter {
  background-color: rgba(216, 213, 208, 0.644);
}
#center {
  text-align: center;
}
.newsletter {
  font-family: 'serif';
  color: rgb(84, 85, 84);
}
.footer {
  font-family: 'serif';
  text-align: left;
}